<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alabama</key>
	<string>Montgomery</string>
	<key>Alaska</key>
	<string>Juneau</string>
	<key>Arizona</key>
	<string>Phoenix</string>
</dict>
</plist>
