<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<array>
		<string>This planet has beautiful rings around it.</string>
		<string>A gas giant, with a noticeable red spot.</string>
		<string>A very hot planet, closest to the sun.</string>
		<string>Known as the red planet.</string>
		<string>There is something very familiar about this planet.</string>
		<string>Strangely, this planet rotates around on its side.</string>
		<string>A very cold planet, furthest from the sun.</string>
		<string>It's very cloudy here!</string>
	</array>
	<key>name</key>
	<array>
		<string>Saturn</string>
		<string>Jupiter</string>
		<string>Mercury</string>
		<string>Mars</string>
		<string>Earth</string>
		<string>Uranus</string>
		<string>Neptune</string>
		<string>Venus</string>
	</array>
	<key>systemName</key>
	<array>
		<string>Solar System</string>
		<string>Alphan System</string>
	</array>
</dict>
</plist>
