<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<array>
		<string>first planet</string>
		<string>shine like a star</string>
		<string>we live here</string>
		<string>the red planet</string>
		<string>the big one</string>
		<string>the one with rings</string>
		<string>the gas planet</string>
		<string>so far away</string>
	</array>
	<key>name</key>
	<array>
		<string>mercurio</string>
		<string>venus</string>
		<string>tierra</string>
		<string>marte</string>
		<string>jupiter</string>
		<string>saturno</string>
		<string>urano</string>
		<string>neptuno</string>
	</array>
	<key>systemName</key>
	<array>
		<string>Solar System</string>
		<string>Alphan System</string>
	</array>
</dict>
</plist>
